body {
    background-color: burlywood;
}

.content {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.level-frame {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.level-count {
    background-color: rgb(246, 203, 11);
    padding: 20px;
}

/* h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #ff001e;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;

} */